<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/metaHeader :: metaHead"> Error: Error</div>
<body class="bodyPorra">
  <div th:replace="fragments/navbar :: navbar"> Error: Error</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
      </div><!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-fire fa-4x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">26</div>
                <div class="panel-title-custom">Nuevas porras</div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-body-custom">
            <div th:each="porraR, porraStatR: ${porrasRecent}" class="list-group">
              <a href="#" class="list-group-item text-center"  th:unless="${porraStatR.index > 10}">
                <h4 class="list-group-item-heading"><p th:text="${porraR.title}"></p></h4>
                <!--<p class="list-group-item-text">1045 participantes</p>  -->
              </a>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Más</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-fire fa-4x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">26</div>
                <div class="panel-title-custom">Porras en las que participo</div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-body-custom" style="min-height: 215px">
            <div th:each="porraU, porraStatU: ${porrasUser}" class="list-group">
              <a href="#" class="list-group-item text-center"  th:unless="${porraStatU.index > 2}">
                <h4 class="list-group-item-heading"><p th:text="${porraU.title}"></p></h4>
                <!--<p class="list-group-item-text">1045 participantes</p>  -->
              </a>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Más</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <div class="panel panel-green" style="min-height: 100px">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-4x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">2</div>
                <div class="panel-title-custom">Porras creadas</div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-body-custom" style="min-height: 215px">
            <div th:each="porra, porraStatC: ${porrasCreator}" class="list-group">
              <a href="#" class="list-group-item"  th:unless="${porraStatC.index > 2}">
                <h4 class="list-group-item-heading"><p th:text="${porra.title}"></p></h4>
              </a> 
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Más</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-check fa-4x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">3</div>
                <div class="panel-title-custom">Porras ganadas</div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-body-custom" style="min-height: 215px">
            <div th:each="porraUW, porraStatUW: ${porrasUserLost}" class="list-group">
              <a href="#" class="list-group-item text-center"  th:unless="${porraStatUW.index > 2}">
                <h4 class="list-group-item-heading"><p th:text="${porraUW.title}"></p></h4>
                <!--<p class="list-group-item-text">1045 participantes</p>  -->
              </a>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Más</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-times-circle fa-4x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">5</div>
                <div class="panel-title-custom">Porras perdidas</div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-body-custom" style="min-height: 215px">
            <div th:each="porraUL, porraStatUL: ${porrasUserLost}" class="list-group">
              <a href="#" class="list-group-item"  th:unless="${porraStatUL.index > 2}">
                <h4 class="list-group-item-heading"><p th:text="${porraUL.title}"></p></h4>
              </a> 
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Más</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
