<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/metaHeader :: metaHead"> Error: Error</div>
<body class="bodyPorra">
  <div th:replace="fragments/navbar :: navbar"> Error: Error</div>
  <div class="container container-bg">
    <br />

    <!-- Titulo  -->
    <div class="row">
      <h1 th:with="items = ${#strings.arraySplit(p.title, '-')}" th:text="${#strings.capitalize(items[0])} + ' - ' + ${#strings.capitalize(items[1])}" class="text-center"></h1>
    </div>
    <br />

    <!-- Foto equipos e información -->
    <div class="row">
      <div class="col-md-3">
        <img th:with="items = ${#strings.arraySplit(p.title, '-')}" th:src="@{${'/static/img/' + items[0] + '.png'}}" class="img-responsive center-block" alt="Club2" width="120" height="120" />
      </div>

      <div class="col-md-6">
        <h4 class="text-center"><strong >Tipo: </strong> <span th:text="${p.type}"> </span></h4>
        <h4 class="text-center"><strong>Apuesta mínima:</strong> <span th:text="${p.minBet}"></span></h4>
        <h4 class="text-center"><strong>Equipo 1:</strong> <span th:with="items = ${#strings.arraySplit(p.title, '-')}" th:text="${#strings.capitalize(items[0])}"></span> </h4>
        <h4 class="text-center"><strong>Equipo 2:</strong> <span th:with="items = ${#strings.arraySplit(p.title, '-')}" th:text="${#strings.capitalize(items[1])}"></span></h4>
      </div>

      <div class="col-md-3">
        <img th:with="items = ${#strings.arraySplit(p.title, '-')}" th:src="@{${'/static/img/' + items[1] + '.png'}}" class="img-responsive center-block" alt="Club2" width="120" height="120" />
      </div>
    </div>

    <br />

    <!-- Participantes -->
    <div class="row text-center">
      <div class="table-responsive">
        <table class="table table-hover table-bg">
          <thead>
            <tr>
              <th class="text-center">Participante</th>
              <th class="text-center">Apuesta</th>
              <th class="text-center">Cantidad</th>
            </tr>
          </thead>
          <tbody>
          <tr th:each="bet: ${bp}">
            <td th:text="${bet.login}"></td>
            <td th:text="${bet.bet}"></td>
            <td th:text="${bet.betAmount}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Botones -->
    <div class="row">
      <div class="col-md-4 text-center"><button type="button" class="btn btn-success">Apostar</button></div>
      <div class="col-md-4 text-center"><button type="button" class="btn btn-warning">Compartir</button></div>
      <div class="col-md-4 text-center"><button type="button" class="btn btn-primary">Editar</button></div>
    </div>

    <br /><br />

  </div> <!-- Cierra div container -->
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
