<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="fragments/metaHeader :: metaHead"> Error: Error</div>
<body class="bodyPorra">
  <div th:replace="fragments/navbar :: navbar"> Error: Error</div>
  <div class="container container-bg container-porras">
    <br />

    <!-- Titulo  -->
    <div class="row">
      <h1  th:text="${p.title}" class="text-center"></h1>
    </div>
    <br />

    <!-- Foto equipos e información -->
    <div class="row">
      <div class="col-md-3">
        <img th:src="@{'/static/img/' + ${p.imageUrlLocal}}" class="img-responsive center-block" alt="Club2" width="120" height="120" />
      </div>

      <div class="col-md-6">
        <h4 class="text-center"><strong >Tipo: </strong> <span th:text="${p.type}"> </span></h4>
        <h4 class="text-center"><strong>Apuesta mínima:</strong> <span th:text="${p.minBet}"></span></h4>
        <div th:if="${#strings.equals(p.type, 'MATCH')}">
          <h4 class="text-center"><strong>Equipo Local:</strong> <span th:text="${p.equipoLocal}"></span> </h4>
          <h4 class="text-center"><strong>Equipo Visitante:</strong> <span th:text="${p.equipoVisitante}"></span></h4>
        </div>
        <div th:if="${#strings.equals(p.type, 'OPEN')}">
          <h4 class="text-center"><strong>Tema apuesta:</strong> <span th:text="${p.apuestaOpen}"></span> </h4>
        </div>
      </div>

      <div class="col-md-3">
        <img th:src="@{'/static/img/' + ${p.imageUrlVisitor}}" class="img-responsive center-block" alt="Club2" width="120" height="120" />
      </div>
    </div>

    <br />

    <!-- ToDo  si es juez que permita seleccionar el ganador y si es admin q permita borrar la porra-->

    <!-- Participantes -->
    <div class="row text-center">
      <div class="table-responsive">
        <table class="table table-hover table-bg">
          <thead>
            <tr>
              <th class="text-center">Participante</th>
              <th class="text-center">Apuesta</th>
              <th class="text-center">Cantidad</th>
              <div th:if="${#strings.equals(principal.principal.authorities[0], 'ROLE_ADMIN')}">
                <th class="text-center">
                    Asignar Ganador
                </th>
              </div>

            </tr>
          </thead>
          <tbody>
          <tr th:if="${not #lists.isEmpty(p.participants)}" th:each="bet: ${p.participants}" th:class="${#strings.equals(bet.user.login, p.winerBet)} ? success : default">
            <td th:text="${bet.user.login}"></td>
            <div th:switch="${p.type}">
              <td th:case="'OPEN'" th:text="${bet.bet}"></td>
              <td th:case="'MATCH'" th:text="${bet.bet}"></td>
              <td th:case="'POSSIBLES'" th:text="${bet.possibleBet.bet}"></td>
            </div>
            <td th:text="${bet.betAmount}"></td>
            <td th:if="${#strings.equals(principal.principal.authorities[0], 'ROLE_ADMIN')}">
              <button th:class="${#strings.equals(bet.user.login, p.winerBet)} ? btn-success : btn-danger" >Ganador</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Botones -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">Apostar</button>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
                Realizar una apuesta
            </h4>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">

            <form class="form-horizontal" role="form" th:action="@{${'/betPorra/' + p.id}}" method="post">
              <div class="input-group">
                <span class="input-group-addon">Apostar a: </span>
                <input id="msg" type="text" class="form-control" name="betstring" />
              </div>
              <div class="input-group">
                <span class="input-group-addon">Cantidad a apostar: </span>
                <input id="msg" type="text" class="form-control" name="betamount" />
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              </div>

              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                  Salir
                </button>
                <button type="submit" class="btn btn-primary">
                  Apostar
                </button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
    <br /><br />

  </div> <!-- Cierra div container -->
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
