<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/metaHeader :: metaHead"> Error: Error</div>
<body class="bodyPorra">
<div th:replace="fragments/navbar :: navbar"> Error: Error</div>
<div class="container container-porras">
  <div class="row">
    <h2 th:if="${param.error}" style="color:red;" class="error">Usuario no encontrado</h2>
    <div th:unless="${param.error != null}" class="col-lg-6 col-xs-12 col-lg-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-user fa-4x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="panel-title-custom"><h2 th:text="${user.login}"></h2></div>
            </div>
          </div>
        </div>
        <div class="panel-body panel-body-custom">
          <div class="row text-center">
            <img th:if="${user.imageUrl == null}" th:src="@{/static/img/image_placeholder.png}" alt="place holder image" id="blah" class="profile-img"/>
            <img th:if="${user.imageUrl != null}" th:src="'/files/'+${user.imageUrl}" class="profile-img"/>
          </div>
            <a class="list-group-item ">
              <div class ="row">
                <div class="col-md-6 col-xs-6 text-right">
                  <h4 class="list-group-item-heading"><p>First Name: </p></h4>
                </div>
                <div class="col-md-6 col-xs-6">
                  <h4 class="list-group-item-heading"><p th:text="${user.firstName}"></p></h4>
                </div>
              </div>
            </a>
            <a class="list-group-item ">
              <div class ="row">
                <div class="col-md-6 col-xs-6 text-right">
                  <h4 class="list-group-item-heading"><p>Last Name: </p></h4>
                </div>
                <div class="col-md-6 col-xs-6">
                  <h4 class="list-group-item-heading"><p th:text="${user.lastName}"></p></h4>
                </div>
              </div>
            </a>
            <a class="list-group-item ">
              <div class ="row">
                <div class="col-md-6 col-xs-6 text-right">
                  <h4 class="list-group-item-heading"><p>Email: </p></h4>
                </div>
                <div class="col-md-6 col-xs-6">
                  <h4 class="list-group-item-heading"><p th:text="${user.email}"></p></h4>
                </div>
              </div>
            </a>
            <a class="list-group-item ">
              <div class ="row">
                <div class="col-md-6 col-xs-6 text-right">
                  <h4 class="list-group-item-heading"><p>Fecha de ingreso: </p></h4>
                </div>
                <div class="col-md-6 col-xs-6">
                  <h4 class="list-group-item-heading"><p th:text=" ${#strings.substring(user.createdTime,0,10)} "></p></h4>
                </div>
              </div>
            </a>
            <a class="list-group-item ">
              <div class ="row">
                <div class="col-md-6 col-xs-6 text-right">
                  <h4 class="list-group-item-heading"><p>Tipo de usuario: </p></h4>
                </div>
                <div class="col-md-6 col-xs-6">
                  <h4 class="list-group-item-heading"><p th:if="${not #strings.endsWith(user.roles,'ADMIN)]')}" th:text="Usuario"></p></h4>
                  <h4 class="list-group-item-heading"><p th:if="${#strings.endsWith(user.roles,'ADMIN)]')}" th:text="SuperUsuario"></p></h4>
                </div>
              </div>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

