@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

html, body {
  height: 100%;
  min-height: 100%;
}

.container-index{
  background: url("/static/img/dice.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100%;
  margin: 0 !important;
  padding-left: 1em;
  padding-right: 1em;
}
#jumboIndex{
  background-color: #161e45;
  color: #fff;
  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background: rgba(200, 54, 54, 0.0);
  max-height:150px;
  min-height: 100px;
  padding-top: 0;
  display: block;
  margin-bottom: 3em;
  }

#lista > li > a{
  color:#42413e;
  font-weight: bold;
}
#panelPorras > .panel-heading, #panelLogin > .panel-heading {
  background-color:  #2e2d2b;
}
#panelPorras, #panelLogin {
  box-shadow: 1px 1px 8px #888888;
  border-color:  #2e2d2b;
}
#flash{
  color:#ff0000;
}
.btn-index{
  color: #fff;
  background-color:  #2e2d2b;
  border-color: #2e2d2b;
  margin-bottom: 1.3em;
}
.btn-index:hover{
  color: #fff;
  background-color:  #000;
  border-color: #2e2d2b;
}

#title {
    font-family: 'Calligraffitti', bold;
    font-size: 4em;
    color: #fff;
    margin-top: 0.5em;
}

.register-form {
  margin-top: 10em;
}

#login-panel {
  margin-top: 5em;
}
