.bodyPorra{
  background: url("../img/fondo_porra.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container-bg {
  background-color: rgba(255,255,255,0.7);
}

.table-bg {
  background-color: rgba(255,255,255,0.9);
}

.container-porras {
  padding-top: 70px;
}

.error {
  color: red;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}
.user-participant {
  cursor: pointer;
}
